{% extends "template_page.html" %}
{% block content %}
  <div class="b-page__line container">
    <form class="b-differform b-differform_margined" method="post" action="/result">
      <textarea class="b-differform__input b-differform__input_margined form-control" rows="13" name="initial_text"></textarea>
      <textarea class="b-differform__input b-differform__input_margined form-control" rows="13" name="emended_text"></textarea>
      <button type="submit" class="b-differform__submit btn btn-primary btn-lg center-block">Различить</button>
    </form>
  </div>
{% endblock %}