<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/template_page.css">
    </head>
    <body class="b-page b-page_grey">
      <div class="b-page__header container">
        <h1 class="b-head b-head_margined text-center">Диффер</h1>
      </div>
      {% block content %}{% endblock %}
      <div class="b-page__footer navbar-fixed-bottom row-fluid">
        <div class="b-footer navbar-inner">
          <div class="b-footer__content container">
            <a class="b-link" target="_blank" href="https://github.com/dmitryvorono/35_diff_service">GitHub Project</a>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>