.b-head_margined{
    margin-bottom: 50px;
}
.b-differform__input_margined{
    margin-bottom: 50px;
}
.b-differform_margined{
    margin-bottom: 50px;
}
.b-page_grey{
    background-color: rgb(235, 235, 235);
}
.red{
    background-color: #ffa8a8;
}
.yellow{
    background-color: #ffe066;
}
.green{
    background-color: #8ce99a;
}