.b-head_margined{
    margin-bottom: 50px;
}
.b-differform__input_margined{
    margin-bottom: 50px;
}
.b-differform_margined{
    margin-bottom: 50px;
}
.b-page_grey{
    background-color: rgb(235, 235, 235);
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}